/* .bg-image {
    width: 100%;
    height: fit-content;
    background-image: url("../images/home1.jpg");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    opacity: 0.8;
} */


/* ------------search filter---------------------------------------- */

.dpcontainer {
    padding-left: 20%;
    display: flex;
    flex-direction: row;
    background-color: rgb(211, 219, 243);
    padding: 5px 20%;
    box-shadow: rgb(39, 37, 37);
}

.dropbtn {
    background-color: #f84444;
    color: white;
    padding: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 150px;
    border-radius: 10%;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    margin-right: 20%;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 3px 5px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #303b3a;
}


/* --------   card designs------------------------------------------ */

* {
    box-sizing: border-box;
}

body {
    padding-top: 6%;
    font-family: 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-size: large;
}


/* Float four columns side by side */

.column {
    float: left;
    width: 25%;
    padding: 10px;
}


/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -50px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.815);
    /* this adds the "card" effect */
    padding: 16px;
    margin-top: 8%;
    text-align: center;
    background-color: #cfdce7;
    width: 18rem;
    border-radius: 5%;
    height: fit-content;
    min-height: 300px;
}

.card-id,
.card-company,
.card-model,
.card-price {
    text-decoration: dashed;
    color: rgb(17, 16, 16);
}


/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: aqua;
} */